# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "S. Kang | HCI & Immersive Tech"
title_separator          : "-"
name                     : &name "Seoyoung Kang" # 성함에 맞춰 수정하세요
description              : &description "Postdoctoral Researcher in HCI, Avatars, and Immersive Technologies"
#url                      : "https://sy1009kang.github.io" # 본인 도메인으로 수정됨
baseurl                  : "" # 유저네임 레포지토리이므로 비워둡니다
repository               : "sy1009kang/sy1009kang.github.io"

# Site Author
author:
  avatar           : "profile.png" # /images/profile.png 경로에 사진을 넣으세요
  name             : "Seoyoung Kang"
  pronouns         : "she/her"
  bio              : "AR/VR and HCI Researcher, Ph.D. Candidate at KAIST."
  location         : "Daejeon, Korea" # 현재 거주지 반영
  employer         : "KAIST" # 소속 대학/기관명으로 수정하세요
  uri              : 
  email            : "seoyoung.kang@kaist.ac.kr" # 실제 이메일로 수정

  # Academic websites
  googlescholar    : "https://scholar.google.com/citations?user=j33Q5tkAAAAJ&hl=ko&oi=ao"
  linkedin            : "seoyoungk"
  #github           : "sy1009kang"

# Publication Category
publication_category:
  manuscripts:
    title: 'Featured Publications'

# Site Settings
teaser                   : 
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : true # 연구자이시므로 활성화 추천합니다
comments:
  provider               : false

# Analytics (Google Analytics 4 사용 시 ID 입력)
analytics:
  provider: "google-analytics"
  google:
    tracking_id: "G-VPM6RDK4MB"


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: America/New_York # Atlanta 시간대 반영

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
